<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test2">
    <!-- Define the Browser parameter here -->
    <parameter name="Browser" value="chrome"/> <!-- Replace "chrome" with your preferred browser -->
    <classes>
      <class name="mavenforjenkins.UITest"/>
    </classes>
  </test> 
</suite>
